body {margin:0px;padding:0px;font-family: "ו";font-size: 12px;background-color: #717171;background: url(default/images/body_bg.jpg) repeat-x left top;}
div,ul,li,dl,dt,dd,img,h1,h2{margin:0px;padding:0px;list-style-type: none;border:0;}
input,select{margin:0px;padding:0px; color:#565656;} 

 


 