.window {
	font-size:12px;
	position:absolute;
	overflow:hidden;
	background:#F2F2F2 url('images/pop_bg.jpg') repeat-x;
	background1:#878787;
	padding:5px;
	border:1px solid #C4C4C4;/*窗口外边线颜色*/
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
}
.window-shadow{
	position:absolute;
	background:#ddd;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.window .window-header{
	background:transparent;
	padding:2px 0px 8px 0px;
}
.window .window-body{
	background:#fff;
	border:1px solid #E4E4E4;/*修改内边线的颜色*/
	border-top-width:0px;
}
.window .window-header .panel-icon{
	left:1px;
	top:1px;
}
.window .window-header .panel-with-icon{
	padding-left:25px;/*改变窗口的标题与左边的距离*/
}
.window .window-header .panel-tool{
	top:0px;
	right:1px;
}
.window-proxy{
	position:absolute;
	overflow:hidden;
	border:1px dashed #15428b;
}
.window-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	filter:alpha(opacity=40);
	opacity:0.40;
	background:#e4e4e4;
	display1:none;
	font-size:1px;
	*zoom:1;
	overflow:hidden;
}